<div class="sidebar">
    <div class="logo-container">
        <div class="notifi-logo">
            <img src="images/notifi-logo.png" alt="Notifi">
            <div class="logo-text">Notifi</div>
        </div>
        <div class="fisk-logo">
            <img src="images/fisk-logo.png" alt="Fisk University">
        </div>
    </div>
    <div class="user-profile">
        <div class="avatar">
            <img src="images/profile-pic.png" alt="User" id="userAvatar">
        </div>
        <div class="user-name" id="userName">Frank Inyiama</div>
    </div>
    <div class="nav-menu">
        <a href="scan.html" class="nav-item" data-page="scan">
            <img src="images/icons/scan.png" alt="Scan Icon" class="nav-icon"> Scan
        </a>
        <a href="orders.html" class="nav-item" data-page="orders">
            <img src="images/icons/orders.png" alt="Orders Icon" class="nav-icon"> Orders
        </a>
        <a href="#" class="nav-item" data-page="profile">
            <img src="images/icons/user.png" alt="Profile Icon" class="nav-icon"> Profile
        </a>
        <a href="#" class="nav-item" data-page="settings">
            <img src="images/icons/settings.png" alt="Settings Icon" class="nav-icon"> Settings
        </a>
        <a href="#" class="nav-item" data-page="help">
            <img src="images/icons/help.png" alt="Help Icon" class="nav-icon"> Help
        </a>
        <a href="#" class="nav-item" id="logoutButton">
            <img src="images/icons/logout.png" alt="Logout Icon" class="nav-icon"> Logout
        </a>
    </div>
</div> 