<div class="sidebar">
    <div class="logo-container">
        <div class="notifi-logo">
            <img src="/static/images/notifi-logo.png" alt="Notifi">
            <div class="logo-text">Notifi</div>
        </div>
        <div class="fisk-logo">
            <img src="/static/images/fisk-logo.png" alt="Fisk University">
        </div>
    </div>
    <div class="user-profile">
        <div class="avatar">
            <img src="/static/images/profile-pic.png" alt="User" id="userAvatar">
        </div>
        <div class="user-name" id="userName">Admin</div>
    </div>
    <div class="nav-menu">
        <a href="/scan" class="nav-item" data-page="scan">
            <img src="/static/images/icons/scan.png" alt="Scan Icon" class="nav-icon"> Scan
        </a>
        <a href="/orders" class="nav-item" data-page="orders">
            <img src="/static/images/icons/orders.png" alt="Orders Icon" class="nav-icon"> Orders
        </a>
        <a href="/" class="nav-item" id="logoutButton">
            <img src="/static/images/icons/logout.png" alt="Logout Icon" class="nav-icon"> Logout
        </a>
    </div>
</div> 